@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Gloria+Hallelujah&display=swap');

body{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;
    color: black;
}

h1{
    font-family: 'Diplomata SC', cursive;
}